API_ID= 28294093
API_HASH= f24d982c45ab2f69a6cb8c0fee9630bd
BOT_TOKEN= 6815304449:AAESc6FsFkmOG2PNUd1r7_XBTklS5Ab6I50
LOGGER_ID= -1002551836060
MONGO_DB_URI= mongodb+srv://parice819:fOJsdMBDj7xMKVFW@cluster0.str54m7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID= 8142003954
STRING_SESSION=
